.navbar-container {
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    border-width: thin;
}

.navbar-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 31%;
    justify-content: space-between;
    margin-left: 8rem;
    font-family: 'Rubik', sans-serif;
}

.navbar-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 31%;
    justify-content: space-between;
    margin-right: 8rem;
    font-family: 'Rubik', sans-serif;
}

.navbar-left > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: lighter;
}

.navbar-right > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: lighter;
}

.navbar-right > span {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: lighter;
    cursor: pointer;
}

.navbar-left > a:hover {
    color: blue;
}

.navbar-right > a:hover {
    color: blue;
}

.navbar-right > span:hover {
    color: blue;
}

.nav-dropdown {
    height: 2rem;
    border: none;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: lighter;
}