.show-container {
    height: 85vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.show-info {
    height: 100%;
    width: 50%;
}

.show-info {
    height: 100%;
    width: 50%;
}