.listings-index {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    height: 760px;
}



// listing item
.listing-item-container {
    border: black solid;
    width: 45%;
}

.listing-item-container > p {
    font-family: 'Antic Slab', serif;
    text-align: center;
    padding: .3rem;
}

.listing-price {
    font-weight: bold;
    font-size: 1.3rem;
}

.listing-realator {
    font-size: .85rem;
}
