.sell-greeting-container {
    height: 100rem;
    width: 100%;
}

.sell-greeting-slogan {
    height: 20vh;
    width: 100%;
    font-family: 'Antic Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sell-greeting-slogan > h1 {
    font-weight: bold;
    font-size: 3.5rem;
}

.sell-greeting-slogan > p {
    font-size: 1.3em;
}

.sell-greeting-photo {
    height: 25rem;
    width: 100%;
    background-image: url("sell_background.png");
    background-position: center;
    background-size: cover;
}