.sell-greeting-container {
    height: 110vh;
    width: 100%;
}

.sell-greeting-slogan {
    height: 20vh;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sell-greeting-slogan > h1 {
    font-weight: bold;
    font-size: 3.5rem;
}

.sell-greeting-slogan > p {
    font-size: 1.3em;
}

.sell-greeting-photo {
    height: 25rem;
    width: 100%;
    background-image: url("sell_background.png");
    background-position: center;
    background-size: cover;
}

.sell-info-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
}

.sell-info-contents {
    display: flex;
    flex-direction: column;
//   align-items: center;
    justify-content: center;
}

.sell-info-button {
    width: 15vw;
    height: 6vh;
    // font-weight: bold;
    font-size: 1.3rem;
    color: white;
    background-color: blue;
    font-family: 'Rubik', sans-serif;
    border-radius: 5px;
    border: none;
}

.sell-info-button:hover {
    background-color: darkblue;
    transition: .25s;
    cursor: pointer;
}

.sell-info-contents > h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2.7rem;
}

.sell-info-contents > p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
}
