.user-listings-container {
    height: 67vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
}

.user-listings-container > span {
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    width: 100%;
}