// .page2-container {
//     overflow: scroll;
//     overflow-x: hidden;
//     height: 67vh;
//     width: 100%;
// }

// .page2-form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .page2-form > label {
//     font-family: 'Antic Slab', serif;
//     font-size: 2rem;
//     font-weight: bold;
// }

// .page2-form > input {
//     width: 20%;
//     height: 6vh;
//     font-size: 1.5rem;
//     font-family: 'Antic Slab', serif;
// }

// .sell-prev-btn {
//     margin-top: 2rem;
//     width: 15%;
//     height: 5vh;
//     font-family: 'Antic Slab', serif;
//     color: blue;
//     font-size: 1rem;
//     font-weight: bold;
//     border-radius: .50rem;
// }

// .sell-prev-btn:hover {
//     color: white;
//     background-color: blue;
//     cursor: pointer;
// }

.page2-container {
    height: 67vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.page2-container > h1 { 
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    font-size: 2rem;
}

.page2-form {
    width: 70%;
    height: 70%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.page2-form > label {
    font-family: 'Antic Slab', serif;
    font-size: 1.5rem;
}

.page2-form > input {
    width: 20%;
    font-family: 'Antic Slab', serif;
}

.sell-prevgit-btn {
    font-family: 'Antic Slab', serif;
    margin-top: 1rem;
    color: blue;
    background-color: white;
    border-color: black;
    border-width: 1px;
}

.sell-prevgit-btn:hover { 
    color: white;
    background-color: blue;
}
