.img-container {
    width: 100%;
    height: 60vh;
    background-image: url("splash_img.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slogan-container { 
    width: 100%;
    display: flex;
    justify-content: center;
}

.slogan {
    width: 25%;
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 1.6rem;
    font-weight: bold;
}

.panel-container {
    display: flex;
    justify-content: center;
}

.panel-container > div {
    width: 18%;
    height: 50vh;
    margin-left: .8rem;
    margin-right: .8rem;
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 1px 1px 0px;
}

.panel-container > div:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    cursor: pointer;
}

.panel-container > div > button {
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: blue;
    background-color: white;
    border-color: blue;
    border-width: thin;
    height: 10%;
    width: 50%;
    border-radius: .25rem;
}

.panel-container > div > button:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
}

.buy-img {
    width: 100%;
    height: 65%;
    background: url("buy.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sell-img {
    width: 100%;
    height: 65%;
    background: url("sell.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.rent-img {
    width: 100%;
    height: 65%;
    background: url("rent.png");
    background-repeat: no-repeat;
    background-size: cover;
}