.buy-nav-container {
    border: black solid;
    padding: .55rem;
    width: 100%;
    display: flex;
}

.buy-nav-container > button {
    border-color: blue;
    border-width: thin;
    color: blue;
    background-color: white;
    font-size: .7rem;
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    margin-right: .50rem;
    margin-left: .50rem;
    height: 1.9rem;
    width: 6%;
}

.buy-nav-container > button:hover {
    border-color: black;
    color: black;
    cursor: pointer;
}
